<div class='board'>
  <h1>{{name}}</h1>
  <h1>Poruszanie się figur</h1>
  <p>wybierz figurę: </p>
  <div class='figures' id='figures'>
    <img (click)="getFigure('hetman')" src="{{hetman}}" width="35px" height="50px" alt="tower">
    <img (click)="getFigure('king')" src="{{king}}" width="35px" height="50px" alt="king">
    <img (click)="getFigure('horse')" src="{{horse}}" width="40px" height="50px" alt="horse">
    <img (click)="getFigure('pawn')" src="{{pawn}}" width="30px" height="50px" alt="pawn">
    <img (click)="getFigure('runner')" src="{{runner}}" width="38px" height="50px" alt="runner">
    <img (click)="getFigure('tower')" src="{{tower}}" width="38px" height="50px" alt="tower">
  </div>
  <p id='figure-info'></p>
  <form (ngSubmit)='onSubmit()' #contactForm='ngForm'>
    <label for='xValue'>Podaj liczbę (1-8) </label>
    <input [value]='xValue' id='xValue' type='number' name='xValue' class='input-x-value' min='1' max='8' (input)='getXValue($event)' required>
    <div id='field-nr-validate' class='validate'></div>
    <label for='yValue'>Podaj literę (A-H)</label>
    <input [value]='yValue' id='yValue' name='yValue' class='input-y-value' type='text' (input)='getYValue($event)' required>
    <div id='field-letter-validate' class='validate'></div>
    <button type='submit'>wykonaj ruch</button>
  </form>
  <div id='incorrect-move-info'></div>
  <div class='chees-board'>
    <div class='letters-board'>
      <div class='letter'>a</div>
      <div class='letter'>b</div>
      <div class='letter'>c</div>
      <div class='letter'>d</div>
      <div class='letter'>e</div>
      <div class='letter'>f</div>
      <div class='letter'>g</div>
      <div class='letter'>h</div>
    </div>
    <div class='numbers-board'>
      <div class='number' class='num' *ngFor='let number of [1, 2, 3, 4, 5, 6, 7, 8]'>{{number}}</div>
    </div>
    <div class='tile' *ngFor='let tile of arr'>
      <div class='tile' (click)='getTailClicked(item)' *ngFor='let item of tile' [ngStyle]="{backgroundColor: getColor(item)}">
        <ng-container *ngIf="item.figure==='king'; else towerFigure">
          <img class='figureOnBoard' src="{{king}}" width='25px'>
        </ng-container>

        <ng-template #towerFigure>
          <div *ngIf="item.figure==='tower'">
            <img class='figureOnBoard' src="{{tower}}" width='25px'>
          </div>
        </ng-template>
      </div>
    </div>
  <!-- </div> -->
</div>
