@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
.board {
  font-family: 'Roboto';
  text-align: center;
}
.chees-board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  box-shadow: 0px 0px 8px  #255F69;

  .tile {
    width: 50px;
    height: 50px;
  }
      .figureOnBoard {
        position: relative;
        top: 4px;
      }
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 32px;
  color: rgb(155, 85, 85);
  font-weight: 900;
}
.figures{
  display: flex;
  justify-content: center;
  margin-top: 30px;

  img{
    margin: 0 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid rgb(155, 85, 85);
    }
  }
}

button {
  padding: 5px 10px;
  background: #255F69;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  &:focus {
    outline: none;
  }
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 250px;
  label {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }
  input {
    border-radius: 5px;
    border: 1px solid rgb(171, 171, 171);
    line-height: 24px;
    padding-left: 10px;
    margin: 2px 0 5px 0;
    &:focus{
      outline: none;
    }
  }
}
p {
  text-align: center;
  font-size: 18px;
  color: #255F69;
  font-weight: 600;
}
