section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 18px;
  }
  #name-validate-field {
    margin-top: 20px;
    color: rgb(155, 85, 85);
    font-weight: 600;
  }
}
