
<section>
  <h1>Szachy dla początkujących</h1>
  <p>Chcesz nauczyć się gry w szachy od podstaw? Zapraszamy do wspólnej nauki krok po kroku.</p>
  <!-- <button type="button" routerLink='/board' (click)='showPrompt()'> rozpocznij naukę </button> -->
  <p id='name-validation-field'></p>
  <button type="button"  (click)='showPrompt()'> rozpocznij naukę </button>
</section>

<!-- <section>
  <h1>Szachy dla początkujących</h1>
  <p>Chcesz nauczyć się gry w szachy od podstaw? Zapraszamy do wspólnej nauki krok po kroku.</p>

  <p id='name-validation-field'></p>
  <button type="button" *ngIf="name !==''; else ro" (click)='showPrompt()'> rozpocznij naukę </button>

  <ng-template #ro>Wpisz swoje imię</ng-template>

</section> -->
